**/.DS_Store

.git
.gitignore
.dockerignore

package-lock.json
yarn.lock

**/dist
**/node_modules
coverage

*.env
**/.env.app

.editorconfig
**/Dockerfile
README.md
tslint.json
nodemon.json
.eslintrc.js
.prettierrc
